<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Eatstime support</title>
</head>
<body>
<h1>Welcome to Eatstime support page</h1>
<form id="someform" action="/support" method="get">
    <div>
        Name: <input type="text" name="name"/>
        <br>

        Email: <input type="text" name="email"/>
        <br>

        Content: <input type="text" name="content"/>
        <br><br>+
    </div>

    <input type="submit" name="submit" value="Submit"/>
</form>

</body>
</html>