h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
//font-weight: 300;
    margin-top: 0;
    margin-bottom: 0;
}

h1, .h1 {
    font-size: 34px;
}

h2, .h2 {
    font-size: 30px;
}

h3, .h3 {
    font-size: 26px;
}

h4, .h4 {
    font-size: 22px;
}

h5, .h5 {
    font-size: 18px;
}

h6, .h6 {
    font-size: 14px;
}

a {
    cursor: pointer;
}

small, .small {
    font-size: 12px;
}

.smaller {
    font-size: 10px;
}

.bigger {
    font-size: 1.1em;
}

.big {
    font-size: 1.5em;
}

.thin {
    font-weight: 300;
}

.bold-500 {
    font-weight: 500;
}

.bold-600 {
    font-weight: 600;
}

.bolder {
    font-weight: 700;
}

.upper {
    text-transform: uppercase;
}

.page-title {
    margin-bottom: 24px;
}

.text-black{
    color:black;
}
